/**Issues*/
.issue {
    border: 1px lightgray solid;
    padding: 1em 1em 0.25em 1em;
    background-color: white;
}

.issue .id {
}

.issue .assignee {
    font-size: 0.8em;
    text-align: right;
}

.issue .title {
    min-height: 3.5em;
    overflow: hidden;
    display: block;
}